@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Cont blocat.</h1>
    <h2 class="text-danger">Acest cont a fost blocat, te rugam sa incerci din nou mai tarziu.</h2>
</hgroup>
