
@{
    ViewBag.Title = "RespingeAplicatie";
}

<body style="background-color:white;">
    <br /><br /><br />
    <div class="text-success panel-success">
        <b> @ViewBag.Message</b>
    </div>
</body>