@model System.Data.DataTable
@{
    ViewBag.Title = "TrimiteNotificareAplicareEmail";
}

@* Mesaj afisat dupa aplicarea la job *@

<br />
<br />
<h2 style="font-family:'Lato', sans-serif;">Felicitări!</h2>
<br />

<div class="alert alert-success">
    <strong>@ViewBag.Message</strong>
</div>

