@{
    ViewBag.Title = "Angajare";
}

<hr />
<hr />

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<body style="background-color:white">
    @* Cariere *@
    <div class="titlu">
        <h1 style="font-size: 48px;">Avansează în carieră</h1>
    </div>

    <div>
        <img src="~/Content/Img/career2.jpg" alt="plan cariera" height="600" width="1295">
        <br />
        <hr />
        <img src="~/Content/Img/career3.jpg" alt="plan cariera" height="600" width="1295">
    </div>
    <br />
    <hr />
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</body>

