@{
    ViewBag.Title = "Angajare";
}

<hr />
<hr />

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<body style="background-color:white">
    @* Cariere *@
    <div class="titlu">
        <h1 style="font-size: 48px;">Avansează în carieră</h1>
    </div>

    <div>
        <img src="~/Content/Img/career2.jpg" alt="plan cariera" height="600" width="1295">
        <br />
        <hr />
        <img src="~/Content/Img/career3.jpg" alt="plan cariera" height="600" width="1295">
    </div>
    <br />

    <div style="width:1280px; height:1300px; font-size:16px;">
        <p>
            Este poate unul dintre cele mai bune momente din ultimul timp pentru a-ți lua primul job. Oferta angajatorilor este în creștere, poți găsi nenumărate de locuri de muncă. Dar cum poți transforma unul dintre ele în primul tău job, având în vedere că și competiția e mare în perioada aceasta? Evitând câteva greseli care sunt ușor remarcate de recrutori.
        </p>
        <p>
            Înainte de a porni în căutarea primului job, ține cont de ce se întâmplă în acest moment pe piața muncii. Institutul Național de Statistică a anunțat cele mai recente date despre șomaj. Numărul șomerilor cu vârsta între 15 și 74 ani, estimat pentru luna aprilie a anului 2020 a fost de 432.000 persoane, în creștere atât față de luna martie (414.000 persoane), cât și față de aceeași lună a anului anterior (355.000 persoane). Prin urmare, tot mai mulți tineri, dar și persoane cu experiență își caută de muncă acum și e nevoie să fii atent la greseli care te-ar putea descalifica de pe lista angajatorilor.
        </p>
        <p>
            Recrutorii se așteaptă ca în condițiile actuale, candidații să fie mai asertivi și mai creativi decât până acum. Vor să vadă că-ți dorești cu adevărat un job și că eviți pe cât posibil să te „pierzi în mulțime”. Locuri de muncă există, printre cele mai ofertante domenii acum și în următorul an sunt: retail, IT, e-commerce și digital, medicină, spun reprezentanții departamentelor de resurse umane care au participat la cel mai recent sondaj derulat de eJobs. Așadar dacă ai în plan să aplici pentru primul job în unul dintre aceste domenii ține cont că prima impresie contează.
            Evită pe cât posibil aceste greseli în drumul spre primul job:
        </p>
        <br />
        <p><b>
    1. Să aplici cu un CV care nu este actualizat
</b><br />
    Distanțarea socială a determinat companiile să schimbe și modul de realizare a interviurilor, multe trecând de la întâlnirile față în față la cele online. Prin urmare, se așteaptă la proactivitate și din partea candidaților. Să aplici cu un CV care are aceleași informații poate de acum doi ani înseamnă să-ți reduci șansele de a ajunge pe lista scurtă a recrutorilor.
         </p>
        <p>
            Iată ce poți face: Poți înregistra un clip scurt despre tine (în care să vorbești despre studiile, competențele, proiectele la care ai lucrat) și să-l uploadezi pe site-ul personal sau pe o rețea profesională. Postează apoi link-ul în secțiunea din.  Este nevoie de mai mult efort pentru o astfel de prezentare, dar dacă este făcuta bine, te ajută să ieși în evidență.
        </p>

        <p>
            E important să-ți reevaluezi puțin aplicarea în momentul în care vezi că nimeni nu-ți deschide CV-ul. Să te uiți la ce cauți, cum cauți, la ce locuri de muncă aplici și, da, în zonele în care ești potrivit, tehnologia pe care eJobs.ro o are, va arăta angajatorului că tu ești potrivit și șansele ca tu să fii chemat la interviu cresc semnificativ.
        </p>

        <p><b>
    2. Să aplici la întâmplare, la tot ce-ți iese în cale</b>
    <br />
    Este firesc să-ți dorești să te angajezi cât mai repede. Poate ai amânat aplicarea sau interviurile în ultimele luni. Însă, acum, când piața muncii este tot mai ofertantă, este bine să nu te lași dus de val și să faci una dintre cele mai comune greseli: să aplici la orice job. Recrutorii atrag atenția că văd tot mai mult aplicarea în masă pentru joburi și sunt surpinși de acei candidați care nici măcar nu-și amintesc că au aplicat la un anumit job sau nu se pregătesc pentru interviu.
    Iată ce poți face: Stabilește departamentul, industria și orașul în care vrei să lucrezi. Accesează pagina cu locuri de munca de pe eJobs.ro și dă Click pe Filtrează rezultatele. În fereastra deschisă bifează opțiunile tale, precum și nivelul de carieră: Fără experiență. Dă apoi click pe Vezi joburi. Astfel vei restrânge căutarea și ți se vor afișa doar acele joburi care corespund criteriilor selectate de tine.
</p>

        <p><b>
    3. Să ai așteptări financiare nerealiste</b>
    <br />
    La interviu este bine să arăți că știi ce salariu și ce beneficii îți dorești. Este dovada că ești un om hotărât, care poate lua cu ușurință decizii și în alte circumstanțe. Dar recrutorii nu vor fi prea încântați dacă ai așteptări salariale mai mari decât media pieței pe domeniul și nivelul tău de carieră și dacă nu lași loc de negociere. Pot încadra această atitudine la capitolul Greseli.
    Ce poți face: Înainte de a merge la interviu, întreabă prietenii sau colegii care lucrează în industria vizată de tine ce salariu ar trebui să ceri. De asemenea, urmărește și cele mai recente date despre salarii în România. Conform Institutului Național de Statistică, în luna aprilie 2020, în majoritatea activităţilor din sectorul economic, nivelul câştigului salarial mediu net a scăzut faţă de luna precedentă ca urmare a întreruperii/încetării activităţii, șomajului tehnic ori încasărilor mai mici. Companiile întâmpină așadar dificultăți în gestionarea finanțelor,  dar dinteresul tău spre negociere va fi apreciată și poate fi un avantaj pe termen lung.
</p>

        <p><b>
    4. Să arăți lipsă de empatie</b>
    Fiecare companie a resimțit în activitate măsurilor de restricție din ultima perioadă așa că așteaptă-te ca Recrutorii să-ți vorbească la interviu despre provocările cărora trebuie să le facă față acum. Să arăți că ești indiferent față de contextul actual și față de problemele pe care le întâmpina companiile este o descalificare sigură de pe listă scurtă a angajatorilor.
    Ce poți face: Să arăți empatie față de compania care a trecut prin momente dificile în ultimele luni. Recrutorii apreciază candidații care sunt în cunoștință de cauză și care arată un interes autentic față de companie. Ideile și propunerile care pot ajuta în dezvoltarea activității sunt apreciate.
</p>

        <p><b>
    5. Să dai dovadă de inflexibilitate</b>
    Cerințele angajatorilor s-au schimbat și ele în ultimul timp și s-au adaptat contextului actual. Să refuzi să faci o activitate care are legătură cu jobul tău sau o anumită formă de colaborare nu este o atitudine tocmai potrivită acum. Adaptabilitatea, în schimb, este o calitate esențială.
    Ce poți face: Să fii deschis să lucrezi de acasă, să fii interesat și de alte tipuri de joburi, precum cele part-time, sezoniere și poate chiar de relocare. Modul în care reacționezi într-un context incert spune multe despre tine.
</p>

        <p><b>
    6. Să fii nerăbdător</b>
    Te-ai putea gândi că dacă ai aplicat la scurt timp după publicarea unui anunț de job și ai fost chemat destul de repede la interviu, răspunsul din partea recrutorilor ar trebui să vină la fel de repede. E-mail-urile și apelurile telefonice insistente sunt printre cele mai frecvente greseli pe care le poți face în drumul spre primul job. Chiar dacă vrei să arăți că ești proactiv riști să dai într-o altă extremă. Recrutorii apreciază răbdarea, mai ales că acum ritmul de lucru este altul decât la începutul anului.
    Ce poți face: Poți întreba la interviu când vei primi un răspuns sau când ai putea reveni pentru a primi acest răspuns și care este metoda preferată pentru a comunica: e-mail, telefon. Ține cont că dacă la începutul anului puteai primi un feedback, în medie, în două săptămâni de la interviu, acum această durată poate crește.
</p>

        <p><b>
    7. Să arăți pasivitate</b>
    Situația actuală ți-a adus probabil și ceva temeri. Te gândești poate astfel: cine îmi va oferi o ofertă de angajare acum? Această temere te poate determina să faci un pas în spate în momentul în care un recrutor te sună pentru a te invita la interviu și să fii tentat să-i spui că aștepți mai bine să treacă această perioadă incertă. Este una dintre acele greseli ffecvente.
    Ce poți face: Să arăți entuziasm când un recrutor te sună. Este o oportunitate foarte bună de a te afirma, chiar dacă poate constați că jobul nu ți se potrivește. Angajatorii caută candidați care sunt pozitivi în fața contextului actual și te pot propune pentru angajare în viitoarele proiecte.
</p>
        <p>
            Căutarea primului job poate veni la pachet cu multe provocări, însă nu este o misiune imposibilă. Este chiar o oportunitate. Te poți diferenția chiar prin evitarea unor greseli pe care le fac mulți dintre candidați. Contează să te îndrepți spre acele joburi care se potrivesc pregătirii tale din liceu sau facultate, să fii puternic ancorat în realitate și înarmat cu răbdare, precum și cu interes pentru compania care te-a chemat la interviu. Păstrează o abordare echilibrată în tot ceea ce faci pentru a ajunge mai ușor la primul job.
        </p>
    </div>

    <br/><br />
        <hr />
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@exemplu.com</a><br />
        </address>
</body>

