
@model SistemRecrutare.Models.CautaJobCuvantCheieModel


@{
    ViewBag.Title = "Locuri de munca - Aplica";
}

<div class="jumbotron">
    <h1>Aplica la jobul mult visat</h1>
    <p class="lead">Gaseste-ti locul de munca potrivit din anunturile postate de angajatori</p>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Job_cautat, new { @class = "form-control", placeholder = "Cuvinte cheie" })
            </div>
            <div align="justify" class="col-md-1">
                <img src="~/Content/Img/search1.png" alt="Cauta joburi" height="29" width="31">
            </div>
            <div class="col-md-5">
                <a href="https://asp.net" class="btn btn-primary btn-lg" onclick="">Cauta job &raquo;</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>
    }
</div>


<div class="row">
    @*<div class="col-md-12">
        <h2>ROW 1</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>*@

    @*<div class="col-md-4">
        <h2>ROW 2</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>*@

    @*<div class="col-md-4">
        <h2>ROW 3</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>


<style type="text/css">
        .jumbotron {
            background-image: url('~/content/img/page-border2.jpg');
            background-color:white;
        }

        .col-md-12{
            background-color:white;
        }
</style>