
@model SistemRecrutare.Models.CautaJobCuvantCheieModel

@{
    ViewBag.Title = "Locuri de munca - Aplica";
}

    <body style="background-color:white">
        @* Imagine homepage cu text *@
        <div class="homepage-front-image">
            <img src="~/Content/Img/front1.png" alt="platforma-job" height="600" width="1295">
            <div class="text-on-img">
                <h1>Aplică la jobul mult visat</h1>
                <h3>Găsește locul de muncă potrivit pentru tine in anunțurile postate de angajatori</h3>
                @* Cauta Job *@
                @*<input type="text" name="search" placeholder="Cuvinte cheie">*@
            </div>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-10"></div>
            </div>

            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="row">
                    <div class="col-md-1"></div>

                    @* Cauta Job *@
                    <div class="col-md-3">
                        @*@Html.TextBoxFor(m => m.Job_cautat, new { @class = "form-control", placeholder = "Cuvinte cheie" })*@
                    </div>

                    <div align="justify" class="col-md-1">
                        @*<img src="~/Content/Img/search1.png" alt="Cauta joburi" height="29" width="31">*@
                    </div>

                    <div class="col-md-5">
                        @*<a href="#" class="btn btn-primary btn-lg" onclick="">Cauta job &raquo;</a>*@
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                </div>
            }
        </div>
    </body>
@*-----------------------------------------------------------------*@
@*--------------------------------css------------------------------*@
<style type="text/css">
    .jumbotron {
        background-color: white;
    }

    .col-md-12 {
        background-color: white;
    }

     @* imagine homepage *@
    .homepage-front-image{
        position: relative;
        text-align: center;
        color: white;
        left: -80px;
    }

    .homepage-front-image .text-on-img{
        position: absolute; /* background text */
        bottom: 0; 
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.3); /* black background, 0.3 opacity */
        color: #f1f1f1;
        width: 113.45%;
        padding: 70px;
    }

    @* text on img *@
    .text-on-img {
        position: absolute;
        top: 50%;
        left: 56.9%;
        transform: translate(-50%, -50%);
        font-family: Consolas, monospace;
    }

    @* search *@
    /*input[type=text] {
        width: 180px;
        height: 5px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        opacity: 0.9;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }*/

    /*input[type=text]:focus {
        width: 100%;
}*/

</style>