USE [master]
GO
/****** Object:  Database [DB_sistem_recrutare]    Script Date: 2020-06-16 7:53:09 PM ******/
CREATE DATABASE [DB_sistem_recrutare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_sistem_recrutare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLINSTANCE\MSSQL\DATA\DB_sistem_recrutare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_sistem_recrutare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLINSTANCE\MSSQL\DATA\DB_sistem_recrutare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_sistem_recrutare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[DB_sistem_recrutare] TO [DESKTOP-L\Asus]
GO
USE [DB_sistem_recrutare]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[angajator]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angajator](
	[id_angajator] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[parola] [nvarchar](max) NULL,
	[nume_angajator] [varchar](64) NOT NULL,
	[telefon] [varchar](11) NULL,
	[verificare_email] [bit] NOT NULL,
	[cod_activare] [uniqueidentifier] NULL,
	[nr_ordine_registru_comert] [nvarchar](50) NOT NULL,
	[oras_sediu] [nvarchar](50) NULL,
	[tara_sediu] [nvarchar](50) NULL,
	[adresa_sediu] [nvarchar](50) NULL,
	[id_rol] [int] NULL,
 CONSTRAINT [PK_angajator] PRIMARY KEY CLUSTERED 
(
	[id_angajator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[angajator] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[aplicare_job]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplicare_job](
	[id_aplicare] [int] IDENTITY(1,1) NOT NULL,
	[cod_job] [varchar](50) NOT NULL,
	[angajator] [varchar](120) NOT NULL,
	[email_angajat] [varchar](64) NOT NULL,
	[data_aplicare] [date] NULL,
	[nume_angajat] [varchar](128) NULL,
	[aplicat] [tinyint] NULL,
 CONSTRAINT [PK_aplicare_job] PRIMARY KEY CLUSTERED 
(
	[id_aplicare] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[aplicare_job] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[cv]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cv](
	[nume_fisier] [varchar](128) NOT NULL,
	[continut_fisier] [varbinary](max) NULL,
	[id_cv] [int] IDENTITY(1,1) NOT NULL,
	[id_angajat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[cv] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[domeniu_lucru]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[domeniu_lucru](
	[id_domeniu] [int] IDENTITY(1,1) NOT NULL,
	[denumire_domeniu] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_domeniu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[domeniu_lucru] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[job]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job](
	[id_job] [int] IDENTITY(1,1) NOT NULL,
	[denumire_job] [varchar](50) NOT NULL,
	[cod_job] [varchar](50) NOT NULL,
	[data_expirare_job] [date] NULL,
	[angajator] [varchar](120) NULL,
	[imagine_job] [image] NULL,
	[descriere_job] [varchar](520) NULL,
	[data_creare_job] [date] NULL,
	[tara] [varchar](32) NULL,
	[oras] [varchar](32) NULL,
	[norma_job] [varchar](32) NULL,
 CONSTRAINT [PK_job] PRIMARY KEY CLUSTERED 
(
	[id_job] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[job] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[rol]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[denumire_rol] [nvarchar](50) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[rol] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[sex]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sex](
	[id_sex] [int] IDENTITY(1,1) NOT NULL,
	[denumire_sex] [varchar](15) NULL
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[sex] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[utilizator]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilizator](
	[email] [varchar](64) NOT NULL,
	[parola] [nvarchar](max) NULL,
	[nume_utilizator] [varchar](64) NOT NULL,
	[prenume_utilizator] [varchar](64) NOT NULL,
	[oras] [varchar](64) NULL,
	[telefon] [varchar](11) NULL,
	[data_nasterii] [datetime] NULL,
	[sex] [varchar](35) NULL,
	[verificare_email] [bit] NOT NULL,
	[cod_activare] [uniqueidentifier] NULL,
	[id_utilizator] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NULL,
 CONSTRAINT [PK_id_utilizator] PRIMARY KEY CLUSTERED 
(
	[id_utilizator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[utilizator] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[utilizator_domeniu_leg]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilizator_domeniu_leg](
	[id_utilizator] [int] NOT NULL,
	[id_domeniu] [int] NOT NULL,
	[camp] [varchar](2) NULL,
 CONSTRAINT [pk_utilizator_domeniu] PRIMARY KEY CLUSTERED 
(
	[id_utilizator] ASC,
	[id_domeniu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[utilizator_domeniu_leg] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[angajator]  WITH CHECK ADD  CONSTRAINT [FK_angajator_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[rol] ([id_rol])
GO
ALTER TABLE [dbo].[angajator] CHECK CONSTRAINT [FK_angajator_rol]
GO
ALTER TABLE [dbo].[cv]  WITH CHECK ADD  CONSTRAINT [FK_cv_angajat] FOREIGN KEY([id_angajat])
REFERENCES [dbo].[utilizator] ([id_utilizator])
GO
ALTER TABLE [dbo].[cv] CHECK CONSTRAINT [FK_cv_angajat]
GO
ALTER TABLE [dbo].[utilizator]  WITH CHECK ADD  CONSTRAINT [FK_utilizator_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[rol] ([id_rol])
GO
ALTER TABLE [dbo].[utilizator] CHECK CONSTRAINT [FK_utilizator_rol]
GO
ALTER TABLE [dbo].[utilizator_domeniu_leg]  WITH CHECK ADD  CONSTRAINT [FK_domeniu] FOREIGN KEY([id_domeniu])
REFERENCES [dbo].[domeniu_lucru] ([id_domeniu])
GO
ALTER TABLE [dbo].[utilizator_domeniu_leg] CHECK CONSTRAINT [FK_domeniu]
GO
ALTER TABLE [dbo].[utilizator_domeniu_leg]  WITH CHECK ADD  CONSTRAINT [FK_utilizator] FOREIGN KEY([id_utilizator])
REFERENCES [dbo].[utilizator] ([id_utilizator])
GO
ALTER TABLE [dbo].[utilizator_domeniu_leg] CHECK CONSTRAINT [FK_utilizator]
GO
/****** Object:  StoredProcedure [dbo].[adauga_detalii_cv]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[adauga_detalii_cv] 
(  
@nume_fisier varchar(128),  
@continut_fisier varBinary(max),
@id_angajat int)  
as begin 
set nocount on
Insert into dbo.cv values(@nume_fisier, @continut_fisier,
 @id_angajat)   
End 
GO
ALTER AUTHORIZATION ON [dbo].[adauga_detalii_cv] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-af114ef7-a19d-40f0-a3d4-ece870e983f2]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-af114ef7-a19d-40f0-a3d4-ece870e983f2] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-af114ef7-a19d-40f0-a3d4-ece870e983f2]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-af114ef7-a19d-40f0-a3d4-ece870e983f2] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-af114ef7-a19d-40f0-a3d4-ece870e983f2') > 0)   DROP SERVICE [SqlQueryNotificationService-af114ef7-a19d-40f0-a3d4-ece870e983f2]; if (OBJECT_ID('SqlQueryNotificationService-af114ef7-a19d-40f0-a3d4-ece870e983f2', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-af114ef7-a19d-40f0-a3d4-ece870e983f2]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-af114ef7-a19d-40f0-a3d4-ece870e983f2]; END COMMIT TRANSACTION; END
GO
ALTER AUTHORIZATION ON [dbo].[SqlQueryNotificationStoredProcedure-af114ef7-a19d-40f0-a3d4-ece870e983f2] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[vezi_detalii_cv]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[vezi_detalii_cv]
(  @id_cv int=null, @email varchar(64))  
as  begin    
select id_cv, nume_fisier, continut_fisier from dbo.cv 
inner join dbo.utilizator on 
utilizator.id_utilizator = cv.id_angajat where 
id_cv = isnull(@id_cv, id_cv) and email = @email
End
GO
ALTER AUTHORIZATION ON [dbo].[vezi_detalii_cv] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[vezi_detalii_cvuri_angajator]    Script Date: 2020-06-16 7:53:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[vezi_detalii_cvuri_angajator]
(  @id_cv int=null    )  
as  begin    
select id_cv, nume_fisier, continut_fisier, nume_utilizator, prenume_utilizator, email,
telefon, oras from dbo.cv 
inner join dbo.utilizator on 
utilizator.id_utilizator = cv.id_angajat where id_cv = isnull(@id_cv, id_cv)  
End
GO
ALTER AUTHORIZATION ON [dbo].[vezi_detalii_cvuri_angajator] TO  SCHEMA OWNER 
GO
USE [master]
GO
